httpx
asyncpg
sqlalchemy[asyncio]
fastapi
uvicorn[standard]
pytest
pytest-asyncio
anyio
httpx
aiosqlite
alembic
psycopg2-binary
# python-jose[cryptography]
PyJWT
passlib
# bcrypt==4.0.1
python-multipart
email-validator